@model GeneralLabSolutions.Domain.Entities.Pedido

@{
    ViewData["Title"] = "Excluir Produto";
}

<h3>Excluir Produto</h3>

<h3>Tem certeza que deseja excluir este registro?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusDoPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusDoPedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Documento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vendedor.Documento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-outline-danger" /> 
        <a asp-action="Index" class="btn btn-outline-success">Voltar à Lista</a>
    </form>
</div>
